# Object file
*.o

# Ada Library Information
*.ali

/src/Claude-Account-Monitor/bin
/src/Claude-Account-Monitor/obj
/src/.vs
/src/Claude-Account-Monitor.Tests/bin
/src/Claude-Account-Monitor.Tests/obj
